<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <title>StarSports</title>
</head>
<body>
    <div class="grid">
        <header>
            <img src="img/star.png" alt="Star Logo">
            <h1>StarSports</h1>
            <a href="logga_in.html"><button>Logga in</button></a>
        </header>
        <nav>
            <a href="oppettider.html"><button>Öppettider</button></a>
            <a href="lokaler.html"><button>Lokaler</button></a>
            <a href="om_oss.html"><button>Om Oss</button></a>
        </nav>
        <div class="location">
            <a href="index.html">Hem</a>
            <%= yield %>
        </div>
        <%= yield %>
        <footer>
            <h2>Öppet alla dagar!</h2>
        </footer>
    </div>
</body>
</html>