    <a href="#">/</a>
    <a href="#">Logga in</a>
</div>
<main>
    <input type="text" placeholder="Användarnamn">
    <input type="password" placeholder="Lösenord">
    <a href="index.html"><button>Logga in</button></a>
    <a href="registrera.html"><button>Inte medlem? Registrera dig!</button></a>