    <a href="#">/</a>
    <a href="#">Om Oss</a>
</div>
<main class="wide">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi accusantium, voluptatibus sit minima facere velit illum itaque modi fuga ipsam repudiandae, doloremque accusamus laborum? Dolore iusto iure repudiandae sit et.</p>
    <img src="img/stronk-cat.jpg" alt="Stronk Cat!">