    <a href="#">/</a>
    <a href="logga_in.html">Logga in</a>
    <a href="#">/</a>
    <a href="#">Registrering</a>
</div>
<main>
    <input type="text" placeholder="E-Mail">
    <input type="text" placeholder="Användarnamn">
    <input type="password" placeholder="Lösenord">
    <a href="index.html" class="reg"><button>Registrera</button></a>