body {
    margin: 0;
}

.grid {
    width: 360px;
    height: 598px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    margin-left: auto;
    margin-right: auto;
    background-color: #282828;
}

@media screen and (min-device-width: 361px) {
    .grid {
        width: 100vw;
        height: 166vw;
    }

    main.wide {
        img {
            width: 75vw;
        }

        .map {
            width: 94vw;
            height: 42vh;
        }
    }
}