main {
    grid-column: span 4;
    grid-row: span 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.background {
    background-image: url("../img/yeah.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

main h1 {
    grid-column: span 4;
    grid-row: 2/7;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    color: #080808;
    text-align: center;
    align-self: center;
}

input {
    border-radius: 10px;
}

main input:first-child {
    grid-column: 2/4;
    grid-row: 2/3;
}

main input:nth-child(2) {
    grid-column: 2/4;
    grid-row: 4/5;
}

main input:nth-child(3) {
    grid-column: 2/4;
    grid-row: 6/7;
}

main a:first-of-type {
    grid-column: 2/4;
    grid-row: 6/7;
}

main a:nth-of-type(2) {
    grid-column: 2/4;
    grid-row: 7/8;
}

main a.reg {
    grid-column: 2/4;
    grid-row: 7/8;
}

.wide {
    grid-template-columns: repeat(8, 1fr);
}

p {
    grid-column: 2/8;
    grid-row: 1/9;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: #e57200;
    grid-column: 2/6;
    grid-row: 8/9;
    font-family: 'Roboto Slab', serif;
}

main.wide button {
    grid-column: 6/8;
    grid-row: 8/9;
}

h4 {
    color: #e57200;
    grid-column: 2/4;
    grid-row: span 1;
    font-family: 'Roboto Slab', serif;
}