.grid {
    width: 360px;
    /*height: 598px;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 54px);
    margin-left: auto;
    margin-right: auto;
    background-color: #282828;
}

header {
    grid-column: span 4;
    grid-row: span 2;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: repeat(1, 1fr);
    background-color: #080808;
    border-style: solid;
    border-top-color: #e57200;
    border-left-color: #e57200;
    border-right-color: #e57200;
    border-bottom-color: #e57200;
}

header img {
    grid-column: span 1;
    grid-row: span 1;
    margin-left: 5px;
}

header h1 {
    color: #e57200;
    grid-column: span 2;
    grid-row: span 1;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

header button {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #e57200;
    border-radius: 9001px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    /*border-style: solid;
    border-top-color: #e57200;
    border-left-color: #e57200;
    border-right-color: #e57200;
    border-bottom-color: #e57200;*/
}

a {
    text-decoration: none;
    color: #00c3ff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header a {
    color: #00c3ff;
    align-self: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-align: center;
    grid-column: span 1;
    grid-row: span 1;
    background-color: #e57200;
    border-radius: 9001px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border-style: solid;
    border-top-color: #00c3ff;
    border-left-color: #00c3ff;
    border-right-color: #00c3ff;
    border-bottom-color: #00c3ff;
}

header a:active {
    color: #e57200;
    background-color: #00c3ff;
    border-top-color: #e57200;
    border-left-color: #e57200;
    border-right-color: #e57200;
    border-bottom-color: #e57200;
}

nav {
    grid-column: span 4;
    grid-row: span 1;
    background-color: #080808;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border-style: solid;
    border-left-color: #e57200;
    border-right-color: #e57200;
}

nav button {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #e57200;
    border-radius: 9001px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.location {
    grid-column: span 4;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border-style: solid;
    border-top-color: #e57200;
    border-left-color: #e57200;
    border-right-color: #e57200;
    border-bottom-color: #e57200;
}

.location a {
    color: #e57200;
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
    align-self: center;
}

main {
    grid-column: span 4;
    grid-row: span 8;
    background-color: #282828;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

main > img {
    width: 67vw;
    height: 28vh;
    grid-column: 2/6;
    grid-row: 2/8;
}

main img:nth-child(2) {
    width: 67vw;
    height: 28vh;
    grid-column: 2/6;
    grid-row: 9/15;
}

footer {
    grid-column: span 4;
    grid-row: span 1;
    background-color: #080808;
    border-style: solid;
    border-top-color: #e57200;
    border-left-color: #e57200;
    border-right-color: #e57200;
    border-bottom-color: #e57200;
}